@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

i {
    margin-right: 10px;
}

p {
    margin: 0;
    padding: 0;
}
/* Navbar */
.navbar-logo {
    padding: 15px;
    color: #fff;
}

.navbar-mainbg {
    background-color: #5161ce;
    padding: 0px;
}

#navbarSupportedContent {
    overflow: hidden;
    position: relative;
}

#navbarSupportedContent ul {
    padding: 0px;
    margin: 0px;
}

#navbarSupportedContent ul li a i {
    margin-right: 10px;
}

#navbarSupportedContent li {
    list-style-type: none;
    float: left;
}

#navbarSupportedContent ul li a {
    color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}

#navbarSupportedContent>ul>li.active>a {
    color: #5161ce;
    background-color: transparent;
    transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free", sans-serif;
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}

#navbarSupportedContent .active>a:not(:only-child):after {
    transform: rotate(90deg);
}

.hori-selector {
    display:inline-block;
    position:absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    transition-duration:0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    bottom: 10px;
}

.hori-selector .right {
    right: -25px;
}

.hori-selector .left {
    left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5161ce;
}

.hori-selector .right:before {
    bottom: 0;
    right: -25px;
}

.hori-selector .left:before {
    bottom: 0;
    left: -25px;
}


@media(min-width: 992px){
    .navbar-expand-custom {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
    .navbar-expand-custom .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

@media (max-width: 991px){
    #navbarSupportedContent ul li a{
        padding: 12px 30px;
    }
    .hori-selector{
        margin-top: 0px;
        margin-left: 10px;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .hori-selector .left,
    .hori-selector .right{
        right: 10px;
    }
    .hori-selector .left{
        top: -25px;
        left: auto;
    }
    .hori-selector .right{
        bottom: -25px;
    }
    .hori-selector .left:before{
        left: -25px;
        top: -25px;
    }
    .hori-selector .right:before{
        bottom: -25px;
        left: -25px;
    }
}

/* Customized styles */

.add-expenses__inner,
.add-category__inner,
.add-income__inner,
.login__inner,
.register__inner {
    max-width: 650px;
}

.btn-actions {
    background-color: #5161ce;
    border: 1px solid #5161ce;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: .3s background-color, .3s color, transform 2s cubic-bezier(0.41, 0.68, 0.42, 1.23);
}

.btn-actions:hover {
    background-color: #fff;
    color: #5161ce;
    transform: translateX(15px);
}

/* Form Date */

.form-date {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    padding: .375rem 2.25rem .375rem .75rem;
}

/* Toast */

.toast-close {
    padding: 0 0 0 25px;
}

/* Bootstrap Calendar */

.datepicker {
    border-radius: 0;
    padding: 0;
}

.datepicker-days table thead, .datepicker-days table tbody, .datepicker-days table tfoot {
    padding: 10px;
    display: list-item;
}

.datepicker-days table thead, .datepicker-months table thead, .datepicker-years table thead, .datepicker-decades table thead, .datepicker-centuries table thead {
    background: #3546b3;
    color: #ffffff;
    border-radius: 0;
}

.datepicker-days table thead tr:nth-child(2n+0) td, .datepicker-days table thead tr:nth-child(2n+0) th {
    border-radius: 3px;
}

.datepicker-days table thead tr:nth-child(3n+0) {
    text-transform: uppercase;
    font-weight: 300 !important;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
    padding: 11px 13px;
}

.datepicker-months table thead td, .datepicker-months table thead th, .datepicker-years table thead td, .datepicker-years table thead th, .datepicker-decades table thead td, .datepicker-decades table thead th, .datepicker-centuries table thead td, .datepicker-centuries table thead th {
    border-radius: 0;
}

.datepicker td, .datepicker th {
    border-radius: 50%;
    padding: 0 12px;
}

.datepicker-days table thead, .datepicker-months table thead, .datepicker-years table thead, .datepicker-decades table thead, .datepicker-centuries table thead {
    background: #3546b3;
    color: #ffffff;
    border-radius: 0;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
    background-image: none;
}

.datepicker .prev, .datepicker .next {
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    width: 37px;
    height: 37px;
}

.datepicker .prev:hover, .datepicker .next:hover {
    background: transparent;
    color: rgba(255, 255, 255, 0.99);
    font-size: 21px;
}

.datepicker .datepicker-switch {
    font-size: 24px;
    font-weight: 400;
    transition: 0.3s;
}

.datepicker .datepicker-switch:hover {
    color: rgba(255, 255, 255, 0.7);
    background: transparent;
}

.datepicker table tr td span {
    border-radius: 2px;
    margin: 3%;
    width: 27%;
}

.datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover {
    background-color: #3546b3;
    background-image: none;
}

.dropdown-menu {
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.datepicker-dropdown.datepicker-orient-top:before {
    border-top: 7px solid rgba(0,0,0,.1);
}
  
  .stretch-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch; }
    .stretch-card > .card {
      width: 100%;
      min-width: 100%; }
  
  .bg-gradient-primary {
    background: -webkit-gradient(linear, left top, right top, from(#da8cff), to(#9a55ff)) !important;
    background: linear-gradient(to right, #da8cff, #9a55ff) !important; }
  
  .bg-gradient-secondary {
    background: -webkit-gradient(linear, left top, right top, from(#e7ebf0), to(#868e96)) !important;
    background: linear-gradient(to right, #e7ebf0, #868e96) !important; }
  
  .bg-gradient-success {
    background: -webkit-gradient(linear, left top, right top, from(#84d9d2), to(#07cdae)) !important;
    background: linear-gradient(to right, #84d9d2, #07cdae) !important; }
  
  .bg-gradient-info {
    background: -webkit-gradient(linear, left top, right top, from(#90caf9), color-stop(99%, #047edf)) !important;
    background: linear-gradient(to right, #90caf9, #047edf 99%) !important; }
  
  .bg-gradient-warning {
    background: -webkit-gradient(linear, left top, right top, from(#f6e384), to(#ffd500)) !important;
    background: linear-gradient(to right, #f6e384, #ffd500) !important; }
  
  .bg-gradient-danger {
    background: -webkit-gradient(linear, left top, right top, from(#ffbf96), to(#fe7096)) !important;
    background: linear-gradient(to right, #ffbf96, #fe7096) !important; }
  
  .bg-gradient-light {
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e4e4e9)) !important;
    background: linear-gradient(to bottom, #f4f4f4, #e4e4e9) !important; }
  
  .bg-gradient-dark {
    background: linear-gradient(89deg, #5e7188, #3e4b5b) !important; }

  
  /* Dashboard */
  .card-statistics .highlight-icon {
    height: 53px;
    width: 53px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50px; }
    .card-statistics .highlight-icon i {
      font-size: 27px; }
  
  .card-statistics .card-col {
    border-right: 1px solid #ebedf2; }
    .card-statistics .card-col:last-child {
      border-right: none; }
    @media (max-width: 575.98px) {
      .card-statistics .card-col {
        padding-left: 0;
        padding-right: 0;
        position: relative;
        border: none; }
        .card-statistics .card-col:first-child:after, .card-statistics .card-col:first-child:before, .card-statistics .card-col:nth-child(2):after, .card-statistics .card-col:nth-child(2):before, .card-statistics .card-col:nth-child(3):after, .card-statistics .card-col:nth-child(3):before {
          content: "";
          position: absolute;
          background: #ebedf2; }
        .card-statistics .card-col:first-child:before {
          bottom: 0;
          width: 94.2%;
          height: 1px;
          right: 0; }
        .card-statistics .card-col:first-child:after {
          bottom: 0;
          width: 1px;
          height: 100%;
          right: 0; }
        .card-statistics .card-col:nth-child(2):before {
          bottom: 0;
          width: 94.2%;
          height: 1px;
          left: 0; }
        .card-statistics .card-col:nth-child(3):before {
          width: 1px;
          height: 100%;
          right: 0; } }
  
  .card-revenue-table .revenue-item {
    border-bottom: 1px solid #ebedf2; }
    .card-revenue-table .revenue-item:last-child {
      border-bottom: 0; }
    .card-revenue-table .revenue-item .revenue-desc {
      margin-right: auto;
      width: 80%; }
      .card-revenue-table .revenue-item .revenue-desc p {
        margin-bottom: 0; }
    .card-revenue-table .revenue-item .revenue-amount {
      margin-left: auto;
      width: 40%; }
      .card-revenue-table .revenue-item .revenue-amount p {
        font-size: 1.25rem;
        font-family: "roboto", sans-serif;
        font-weight: 600;
        text-align: right; }
        .rtl .card-revenue-table .revenue-item .revenue-amount p {
          text-align: left; }
  
  .card-revenue {
    background: linear-gradient(120deg, #556cdc, #128bfc, #18bef1);
    background-size: cover;
    color: color(white); }
    .card-revenue .highlight-text {
      font-size: 1.875rem;
      font-family: "roboto", sans-serif;
      font-weight: 500; }
    .card-revenue {
      background-color: rgba(255, 255, 255, 0.2);
      font-size: 1.125rem;
      padding: 0.5rem 1.25rem; }
  
  /* Cards */
  .card {
    border: 0;
    background: #fff; }
    .card .card-body {
      padding: 2.5rem 2.5rem; }
      .card .card-body + .card-body {
        padding-top: 1rem; }
    .card .card-title {
      color: #343a40;
      margin-bottom: 0.75rem;
      text-transform: capitalize;
      font-family: "ubuntu-medium", sans-serif;
      font-size: 1.125rem; }
    .card .card-subtitle {
      font-family: "ubuntu-regular", sans-serif;
      margin-top: 0.625rem;
      margin-bottom: 0.625rem; }
    .card .card-description {
      color: #76838f;
      margin-bottom: 1.5rem;
      font-family: "ubuntu-regular", sans-serif; }
    .card.card-outline-success {
      border: 1px solid theme-color("success"); }
    .card.card-outline-primary {
      border: 1px solid theme-color("primary"); }
    .card.card-outline-warning {
      border: 1px solid theme-color("warning"); }
    .card.card-outline-danger {
      border: 1px solid theme-color("danger"); }
    .card.card-rounded {
      border-radius: 5px; }
    .card.card-faded {
      background: #b5b0b2;
      border-color: #b5b0b2; }
    .card.card-circle-progress {
      color: #ffffff;
      text-align: center; }
    .card.card-img-holder {
      position: relative; }
      .card.card-img-holder .card-img-absolute {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%; }
    .card.bg-blue-gradient {
      background: -webkit-gradient(linear, left top, right top, from(#065efd), color-stop(#3169fd), to(#6f79fc));
      background: linear-gradient(to right, #065efd, #3169fd, #6f79fc);
      color: #fff; }
    .card.bg-orange-gradient {
      background: -webkit-gradient(linear, left top, right top, from(#ff7f2e), to(#fe7452));
      background: linear-gradient(to right, #ff7f2e, #fe7452);
      color: #fff; }
    .card.bg-green-gradient {
      background: -webkit-gradient(linear, left top, right top, from(#24e8a6), to(#09cdd1));
      background: linear-gradient(to right, #24e8a6, #09cdd1);
      color: #fff; }
    .card.card-no-shadow {
      -webkit-box-shadow: none;
      box-shadow: none; }
  
  @media (min-width: 576px) {
    .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      -webkit-column-gap: 1.25rem;
      -moz-column-gap: 1.25rem;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1; }
      .card-columns .card {
        display: inline-block;
        width: 100%;
        margin-bottom: 0.75rem; }
  }
  
  .card-inverse-primary {
    background: rgba(182, 109, 255, 0.2);
    border: 1px solid theme-color-level(#b66dff, 1);
    color: theme-color-level(#b66dff, 3); }
  
  .card-inverse-secondary {
    background: rgba(195, 189, 189, 0.2);
    border: 1px solid theme-color-level(#c3bdbd, 1);
    color: theme-color-level(#c3bdbd, 3); }
  
  .card-inverse-success {
    background: rgba(27, 207, 180, 0.2);
    border: 1px solid theme-color-level(#1bcfb4, 1);
    color: theme-color-level(#1bcfb4, 3); }
  
  .card-inverse-info {
    background: rgba(25, 138, 227, 0.2);
    border: 1px solid theme-color-level(#198ae3, 1);
    color: theme-color-level(#198ae3, 3); }
  
  .card-inverse-warning {
    background: rgba(254, 215, 19, 0.2);
    border: 1px solid theme-color-level(#fed713, 1);
    color: theme-color-level(#fed713, 3); }
  
  .card-inverse-danger {
    background: rgba(254, 124, 150, 0.2);
    border: 1px solid theme-color-level(#fe7c96, 1);
    color: theme-color-level(#fe7c96, 3); }
  
  .card-inverse-light {
    background: rgba(248, 249, 250, 0.2);
    border: 1px solid theme-color-level(#f8f9fa, 1);
    color: theme-color-level(#f8f9fa, 3); }
  
  .card-inverse-dark {
    background: rgba(62, 75, 91, 0.2);
    border: 1px solid theme-color-level(#3e4b5b, 1);
    color: theme-color-level(#3e4b5b, 3); }

.dropdown {
    width: 650px;
    height: 40px;
    background: white;
    border-radius: 9px;
    z-index: 9999;
    margin-bottom: -40px !important;
  }

/* arrow CSS icon */

.dropdown::before {
content: "";
position: absolute;
right: 20px;
top: 12px;
z-index: 9999;
width: 12px;
height: 12px;
border: 2px solid grey;
border-top: transparent;
border-right: transparent;
transform: rotate(-45deg);
pointer-events: none;
transition: all 0.3s linear;
}
.dropdown input {
width: 100%;
height: 100%;
border-radius: 5px;
padding: 2px 15px;
cursor: pointer;
border: none;
outline: none;
border: 1px solid #dee2e6;
user-select: none;
font-family: 'Roboto', sans-serif;
font-size: var(--bs-body-font-size);
}
.dropdown .options {
width: 100%;
border-radius: 9px;
padding: 8px;
cursor: pointer;
background: white;
border: none;
outline: none;
box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
font-size: 20px;
overflow: hidden;
transition: all 0.5s ease;
background: rgba(255, 255, 255, 0.55);
backdrop-filter: blur(4.5px);
-webkit-backdrop-filter: blur(4.5px);
border: 1px solid rgba(255, 255, 255, 0.18);
margin-top: 40px;

/* default state of dropdown list */
/* it is not visible */
opacity: 0;
transform: translateY(-50px);
visibility: hidden;
}
.dropdown .options .option {
padding: 16px;
border-radius: 9px;
transition: all 0.2s ease;
color: #292d34;
}
.dropdown .options .option:not(:last-of-type) {
margin-bottom: 8px;
}
.dropdown .options .option:hover {
color: white;
background: #5bc5fa;
box-shadow: 0 10px 25px rgba(42, 179, 248, 0.4);
}

.option:hover{
opacity: 50%;
}


/* opened state of dropdown list */
.dropdown.opened .options {
opacity: 1;
visibility: visible;
transform: translateY(0);
}
.dropdown.opened::before {
transform: rotate(-225deg);
top: 18px;
}

.badge{
padding: 12px 4px 12px 4px !important;
}

.legend-dots {
width: 1rem;
height: 1rem;
border-radius: 100%;
display: inline-block;
vertical-align: text-bottom;
margin-right: .5rem;
margin-left: .5rem;
}

ul {
list-style-type: none;
padding: 0;
margin: 0;
}

.badge-gradient-success {
font-size: 1em;
padding: 8px 8px 8px 16px !important;
background: linear-gradient(to right, #84d9d2, #07cdae);
}

.badge-gradient-danger {
font-size: 1em;
padding: 8px 8px 8px 16px !important;
background: linear-gradient(to right, #d98484, #cd0707);
}

.badge:hover {
opacity: 0.75 !important;
}

.selected-icon {
position: absolute;
top: 2px;
left: 15px;
}

#password-icon-container {
    cursor: pointer;
}
