<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/commons::head}"></head>

<body>
    <header th:replace="~{fragments/commons::header}"></header>

    <div class="container-fluid tab-content pt-5" id="tab-content">
        <div class="tab-pane active" id="tabpanel-1" role="tabpanel" aria-labelledby="tab-1">
<!--            <div class="text-center">-->
<!--                <iframe id="iframeID" class="border border-5 border-dark rounded-5 w-50" height="500" src="https://www.youtube.com/embed/PFfw5WkjyfQ?si=p0djD1GEVhgf5JCh&amp;enablejsapi=1&amp;autoplay=1&amp;mute=1&amp;start=26" title="Шоуто на Слави: Компилации от скечове и импровизации на Краси Радков" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>-->

<!--                <script src="https://www.youtube.com/iframe_api"></script>-->
<!--            </div>-->

            <div class="row">
                <div class="col-4 text-center">
                    <div>Income</div>
                    <div>1000$</div>
                </div>

                <div class="col-4 text-center">
                    <div>Balance</div>
                    <div>3000$</div>
                </div>

                <div class="col-4 text-center">
                    <div>Expenses</div>
                    <div>500$</div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tabpanel-2" role="tabpanel" aria-labelledby="tab-2">
            <div class="add-expenses m-auto">
                <div class="mb-3"><h4>Add Expenses</h4></div>

                <div class="add-expenses__inner">
                    <div class="mb-3">
                        <label class="sr-only form-label" for="expense">Add expenses</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text text-secondary" style="border-radius: 6px 0 0 6px">$</div>
                            </div>

                            <input type="text" class="form-control add-expenses__control" id="expense" placeholder="50">

                            <div class="invalid-feedback expense-error"></div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="category" class="sr-only form-label">Category</label>

                        <select id="category" class="form-select add-expenses__control" aria-label="Category select"></select>

                        <div class="invalid-feedback category-error"></div>
                    </div>

                    <div class="mb-3 add-expenses__date">
                        <p class="date">26.03.2024</p>
                    </div>

                    <div class="add-expenses__actions">
                        <button class="btn btn-primary mb-3">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tabpanel-3" role="tabpanel" aria-labelledby="tab-3">
            <div class="add-category m-auto">
                <div class="mb-3">
                    <h4>Add Category</h4>
                </div>

                <div class="add-category__inner">
                    <div class="mb-3">
                        <label for="categoryName" class="form-label" hidden>Add category</label>

                        <input type="text" class="form-control add-category__control" id="categoryName" placeholder="Gasoline">

                        <div class="invalid-feedback name-error"></div>
                    </div>

                    <div class="mb-3 add-category__date">
                        <p class="date">26.03.2024</p>
                    </div>

                    <div class="add-category__actions">
                        <button class="btn btn-primary mb-3">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    <script>-->
<!--		// var player;-->
<!--		//-->
<!--		// function onYouTubeIframeAPIReadyDelayed() {-->
<!--		// 	setTimeout(function() {-->
<!--		// 		onYouTubeIframeAPIReady();-->
<!--		// 	}, 5000); // Delay execution by 2 seconds (2000 milliseconds)-->
<!--		// }-->
<!--		//-->
<!--		// function onYouTubeIframeAPIReady() {-->
<!--		//     player = new YT.Player('iframeID', {-->
<!--		//         events: {-->
<!--		//             'onReady': onPlayerReady-->
<!--		//         }-->
<!--		//     });-->
<!--		// }-->
<!--		//-->
<!--		// function onPlayerReady(event) {-->
<!--		// 	event.target.unMute(); // Unmute the player-->
<!--		// }-->

<!--		// window.addEventListener("click", function(evt) {-->
<!--		//     // Get the target element-->
<!--		//     var targetElement = document.getElementById("iframeID");-->
<!--		//     console.log(targetElement);-->
<!--		//-->
<!--		//     // Get the bounding rectangle of the target element-->
<!--		//     var rect = targetElement.getBoundingClientRect();-->
<!--		//-->
<!--		//     // Calculate the coordinates of the center of the element-->
<!--		//     var centerX = rect.left + rect.width / 2;-->
<!--		//     var centerY = rect.top + rect.height / 2;-->
<!--		//-->
<!--		//     // Create and dispatch a mouse event at the center of the element-->
<!--		//     var clickEvent = new MouseEvent('click', {-->
<!--		//         bubbles: true,-->
<!--		//         cancelable: true,-->
<!--		//         clientX: centerX,-->
<!--		//         clientY: centerY-->
<!--		//     });-->
<!--		//     console.log(clickEvent);-->
<!--		//     targetElement.dispatchEvent(clickEvent);-->
<!--		//     console.log(targetElement);-->
<!--		// })-->
<!--    </script>-->
</body>
</html>